VITE_SUPABASE_URL=https://bhjpyxmlzojdoziopmor.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJoanB5eG1sem9qZG96aW9wbW9yIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODc0ODI2NjMsImV4cCI6MjEwMzA1ODY2M30.eag67t7Jbssnx-Skn1DkXqkvFm1zPSkzcDwsvB3cTfU
